<div class="row">
  <div class=" col-2 col-md-0 col-lg-2 col-xl-2 px-0">
  </div>


  <div class="  col-8 col-md-8 col-lg-8 col-xl-8 ">
    <div class="row">
      <div class="col-4 col-md-4 col-lg-4 col-xl-6 px-1">
        <small>{{message.dateCreate }}</small>
      </div>
      <div class="col-8 col-md-8 col-lg-8 col-xl-6 ">
        <h6> {{message.userName}}</h6>
      </div>
    </div>

    <div>

      <p class="self" [innerHTML]="message.content"></p>
      <br>

    </div>


  </div>

  <div class=" col-2 col-md-2 col-lg-2 col-xl-2 px-0  " style="text-align: left;">

    <img src="{{message.linkAva}}" class="media-photo">

  </div>

</div>
