.chatlogs{
    padding: 10px;
    width: 100%;
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
    .btn-older{
        cursor:pointer;
    }

}
.chatlogs::-webkit-scrollbar{
    width: 10px;
}
.chatlogs::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background:rgba(0, 0, 0, .1);
}
#fm-older{
    text-decoration: underline;
    text-align: center;
}