.container-detail-user-point{
    width: 300px;
    overflow: hidden;
    .image-user{
        width: 50px;
    }
    .name-user{
        font-size: 12;
    }
    .email-user{
        font-size: 10;
    }
}
